header{
	margin-top: 20px;
}
.main nav{
	margin: 30px 0px;
}

.taskLink{
	margin-left: 10px;
	font-size: 18px;
}

.dates{
	border-top: 1px solid #aaa;
	padding-top: 10px;
	margin-top: 20px;	
	max-width: 450px;	
}

.taskText{
	font-size: 16px;	
}

.dates p{	
	font-size: 12px;
	width: 100%;
	height: 12px;
}

.dates p span{
	display: block;
	min-width: 100px;
	float: right;
}
.dates p b{
	display: inline-block;
	float: left;
	min-width: 200px;
}

h3{
	max-width: 450px;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

.taskList li{
	position: relative;
	max-width: 620px;
	min-height: 40px;	
	margin-bottom: 5px;
	border-bottom: 1px solid #aaa;
}

.taskList li:last-of-type{
	border-bottom: none;
}


.taskList b{	
	width: 10px;
	height: 40px;
	display: block;
	float: left;
	margin-right: 20px;
}

.taskList span{
	display: inline-block;	
	max-width: 510px;
}

.taskListEditBtn {	
	position:absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	height: 35px;	
}

.oneTask{
	margin-bottom: 50px;
}
.editBtnGroup{
	margin-top: 20px;
	width: 100%;
	height: 40px;	
}

.editBtn{
	float: left;
}
.delBtn{
	float: right;
}

#delForm{
	float: right;
	width: 100px;
	height: 40px;
}

.hide{
	width: 0px;
	height: 0xp;
	display: none;
}